<footer id="footer">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            <a href="https://creativecommons.org/licenses/by/4.0/deed.id">
              CC BY 4.0
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</footer>
