<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ site.description }}" name="description">
  <title>{{ site.title }} | {{ page.title }}</title>
  <!-- favicon -->
  <link rel="shortcut icon" href= "{{site.baseurl}}/static/img/favicon.ico" >
  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
  <script src="{{site.baseurl}}/static/js/material.min.js"></script>
  <script src="{{site.baseurl}}/static/js/material-kit.js"></script>
  <script src="{{site.baseurl}}/static/js/nouislider.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/additional-methods.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.10.0/js/md5.min.js"></script>
<script src="https://cdn.rawgit.com/snyderp/jquery.validate.file/master/jquery.validate.file.js"></script>
  <script src="{{site.baseurl}}/static/js/netlify-identity-widget.js"></script>
  <script src="{{site.baseurl}}/static/js/netlify-env.js"></script>
  <!-- Repo for this widget: https://github.com/riouwa/netlify-identity-widget/tree/riou-diff -->
  <!-- Font & Icon -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="{{site.baseurl}}/static/fonts/font-awesome/css/font-awesome.min.css">
  <!-- CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{site.baseurl}}/static/css/material-kit.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
  <![endif]-->
</head>
